@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*
.choice-list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
}

.node {
    text-align: center;
    background-color: rgb(172, 231, 255);
    padding: 0 0;
}

.choice {
    width: 33vw;
    flex: 50%;
    text-align: center;
    background-color: rgb(200, 255, 234);
    padding: 10px;
    border: round;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    margin: 4px 4px;
}

.choice:hover {
    background-color: rgb(133, 197, 173);
    text-decoration: none;
}

.like-btn {
    background-color: #ccffce;
    border: none;
    border-radius: 3px;
}

.like-btn:hover {
    background-color: #8ad38d;
}

.account-info {
    display: inline;
}*/