* {
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold";
}

body {
    margin: 0;
}

body,
div,
nav,
footer {
    display: flex;
    flex-direction: column;
}

span,
a {
    display: inline-flex;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
}
