* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        to right,
        rgb(158, 232, 255),
        white 10%,
        white 90%,
        rgb(158, 232, 255)
    );
    font-family: "Arial Rounded MT Bold" !important;
}

body,
div {
    display: flex;
    flex-direction: column;
}
